.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--qs-4x);
  padding: var(--qs-4x);
  border: 1px solid var(--color-black-10);
  border-radius: 4px;
}

button[type='submit'],
input[type='submit'] {
  border: none;
  padding: var(--qs-4x) var(--qs-8x);
  background-color: var(--color-green-80);
  color: var(--color-white-10);
  box-shadow: 1px 1px 4px var(--color-green-90);
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-green-60);
  }
}
