.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  h1 {
    font-size: 5rem;
    line-height: 6rem;
  }

  h3 {
    font-size: 2rem;
    color: var(--color-green-70);
    margin-bottom: var(--qs-4x);
  }
}
