:root {
  --qs: var(--quant-size); /* qs: 4px */
  --qs-2x: calc(var(--quant-size) * 2);
  --qs-3x: calc(var(--quant-size) * 3);
  --qs-4x: calc(var(--quant-size) * 4);
  --qs-5x: calc(var(--quant-size) * 5);
  --qs-6x: calc(var(--quant-size) * 6);
  --qs-7x: calc(var(--quant-size) * 7);
  --qs-8x: calc(var(--quant-size) * 8);
  --qs-9x: calc(var(--quant-size) * 9);
  --qs-10x: calc(var(--quant-size) * 10);
  --qs-11x: calc(var(--quant-size) * 11);
  --qs-12x: calc(var(--quant-size) * 12);
  --qs-13x: calc(var(--quant-size) * 13);
  --qs-14x: calc(var(--quant-size) * 14);
  --qs-15x: calc(var(--quant-size) * 15);
  --qs-16x: calc(var(--quant-size) * 16);
  --qs-17x: calc(var(--quant-size) * 17);
  --qs-18x: calc(var(--quant-size) * 18);
  --qs-19x: calc(var(--quant-size) * 19);
  --qs-20x: calc(var(--quant-size) * 20);
  --qs-21x: calc(var(--quant-size) * 21);
  --qs-22x: calc(var(--quant-size) * 22);
  --qs-23x: calc(var(--quant-size) * 23);
  --qs-24x: calc(var(--quant-size) * 24);
  --qs-25x: calc(var(--quant-size) * 25);
  --qs-26x: calc(var(--quant-size) * 26);
  --qs-27x: calc(var(--quant-size) * 27);
  --qs-28x: calc(var(--quant-size) * 28);
  --qs-29x: calc(var(--quant-size) * 29);
  --qs-30x: calc(var(--quant-size) * 30);
  --qs-36x: calc(var(--quant-size) * 36);
  --qs-48x: calc(var(--quant-size) * 48);
}
