:root {
  /* Green shades */
  --color-green-10: #cae8de;
  --color-green-20: #a7d9c8;
  --color-green-30: #84cab2;
  --color-green-40: #61bb9c;

  --color-green-50: #3fac87; /* Primary green */
  --color-green-60: #348d6f;
  --color-green-70: #296e56;
  --color-green-80: #235e4a;
  --color-green-90: #173f32;

  /* Red shades */
  --color-red-10: #f3d5d5;
  --color-red-20: #ebb9b9;
  --color-red-30: #e39d9d;
  --color-red-40: #db8181;

  --color-red-50: #d46666; /* Primary red */
  --color-red-60: #ae5454;
  --color-red-70: #874141;
  --color-red-80: #612f2f;
  --color-red-90: #4e2626;

  /* Black shades */
  --color-black-10: #8e9591;
  --color-black-20: #868c89;
  --color-black-30: #747b78;
  --color-black-40: #646a67; /* Primary gray */
  --color-black-50: #535856;
  --color-black-60: #434745;
  --color-black-70: #323534;
  --color-black-75: #2b302f;
  --color-black-80: #222423;

  --color-black-90: #1a1b1b; /* Primary black */
  --color-black-100: #000;

  /* White shades */
  --color-white-10: #fff; /* Primary white */
  --color-white-20: #fcfcfc;
  --color-white-30: #f9f9f9;
  --color-white-40: #f4f5f5;
  --color-white-50: #e0e2e1;
  --color-white-60: #cbcecd;
  --color-white-70: #b7bbb9;

  /* Social colors */
  --color-fb: #3b5999;
  --color-gl: #d94d44;
  --color-ya: #cae8de;
  --color-tw: #41abe1;
}
