:root {
  --z-index-1: 1;
  --z-index-over-content: 100;
  --z-index-tooltip: 300;
  --z-index-dropbutton: 400;
  --z-index-fixed: 500;
  --z-index-over-fixed: 600;
  --z-index-header: 700;
  --z-index-backdrop: 800;
  --z-index-modal-drawer: 900;
  --z-index-toast: 1000;
}
